* {
  margin: 0;
  padding: 0;
}

.header {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: 35px 70px;
  background-color: #0046be;
  align-items: center;
}

.lowerNav {
  display: grid;
  background-color: #0046be;
  border-top: 1px solid #4976e6;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: 45px;
  align-items: center;
}

.logo {
  display: grid;
  align-items: flex-start;
  grid-column: 2 / 4;
  grid-row: 1 / 3;
}

#logo {
  height: 72px;
}

.middleNav {
  display: grid;
  align-items: center;
  grid-column: 4 / 12;
  grid-row: 2 / 3;
}

.middleRightNav {
  display: grid;
  color: white;
  grid-template-columns: repeat(2, auto);
  grid-column: 17 / 20;
  grid-row: 2 / 3;
}

#store {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

#cart {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

#cartBtn {
  font-size: xx-large;
}

#storeBtn {
  font-size: xx-large;
}

.upperRightContainer {
  display: grid;
  align-items: flex-end;
  grid-template-columns: repeat(6, auto);
  justify-content: space-evenly;
  grid-column: 11 / 20;
  grid-row: 1 / 1;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: white;
}

.lowerLeftNav {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: space-evenly;
  align-items: flex-start;
  grid-column: 2 / 7;
  grid-row: 1 / 2;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: white;
}

.lowerRightNav {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(4, auto);
  justify-content: space-evenly;
  grid-column: 13 / 20;
  grid-row: 1 / 2;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: white;
}








